{% extends "global/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'cliente/css/cliente_detail_view.css' %}"/>
{% endblock css %}

{% block content %}
{% include "global/partials/breadcrumb.html" %}
<div class="card-row mt-5">

  <div class="cliente-header">
    <div class="info">
      <img src="{% if cliente.imagem and cliente.imagem.url %}{{ cliente.imagem.url }}{% else %}{% static 'global/assets/img/user.jpeg' %}{% endif %}" 
      class="rounded-circle" alt="Foto do Cliente">
      <div class="d-flex flex-column gap-2 align-items-start">
        <h2>{{ cliente.usuario.first_name }} {{ cliente.usuario.last_name }}</h2>
        <span class="badge rounded-pill {% if cliente.status == 'ativo' %}text-bg-success{% elif cliente.status == 'inativo' %}text-bg-warning{% else %}text-bg-danger{% endif %} status">
          {{ cliente.get_status_display }}
        </span>
      </div>
    </div>
    <div class="actions">
      <a href="{% url 'cliente:cliente_update_view' cliente.id %}" class="btn btn-lg btn-primary fs-4">
        <i class="fa fa-pen"></i> Editar
      </a>
      <a href="{% url 'cliente:cliente_list_view' %}" class="btn btn-lg btn-secondary fs-4">
          <i class="fa fa-arrow-left"></i> Voltar
      </a>
    </div>
  </div>
  
  <div class="d-flex flex-wrap gap-4 w-100 justify-content-between">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-user"></i>
        <h5 class="card-title">Informações Pessoais</h5>
      </div>
      <div class="card-body">
        <div><strong>Nome:</strong> {{ cliente.usuario.first_name }} {{ cliente.usuario.last_name }}</div>
        <div><strong>Email:</strong> {{ cliente.email }}</div>
        <div><strong>Telefone:</strong> {{ cliente.telefone }}</div>
        <div><strong>Data de Nascimento:</strong> {{ cliente.data_nascimento|date:'d/m/Y' }}</div>
        <div><strong>CPF:</strong> {{ cliente.cpf }}</div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <i class="fa fa-map-marker-alt"></i>
        <h5 class="card-title">Endereço</h5>
      </div>
      <div class="card-body">
        <div><strong>CEP:</strong> {{ cliente.endereco.cep }}</div>
        <div><strong>Rua:</strong> {{ cliente.endereco.logradouro }}</div>
        <div><strong>Número:</strong> {{ cliente.endereco.numero }}</div>
        <div><strong>Bairro:</strong> {{ cliente.endereco.bairro }}</div>
        <div><strong>Cidade:</strong> {{ cliente.endereco.uf }}</div>
        <div><strong>Estado:</strong> {{ cliente.endereco.sigla }}</div>
      </div>
    </div>
  </div>
  <div class="card mb-4">
      <div class="card-header">
        <i class="fa fa-info-circle"></i>
        <h5 class="card-title">Outros Dados</h5>
      </div>
      <div class="card-body">
        <div><strong>Data de Cadastro:</strong> {{ cliente.data_cadastro|date:'d/m/Y H:i' }}</div>
        <div><strong>Status:</strong> <span>{{ cliente.get_status_display }}<span></div>
        <div><strong>Observações:</strong> {{ cliente.observacoes|default:'-' }}</div>
      </div>
  </div>
</div>
{% endblock content %}