{% extends "global/base.html" %} 
{% load static %} 
{% block title %}{{ title }}{% endblock title %} 
{% block css %} 
    <link rel="stylesheet" href="{% static 'cliente/css/cliente_list_view.css' %}" rel="stylesheet"/>
{% endblock css %} 

{% block content %} 

{% include "global/partials/breadcrumb.html" %}

<!-- Template para visualizar detalhes de um cliente -->
<h1>Detalhes do Cliente </h1>
<span class="fs-5 text-muted">
    <strong>{{ cliente.usuario.first_name }} {{ cliente.usuario.last_name }}</strong> ID: <span class="text-danger">{{ cliente.id }}</span>
</span>
<p> Página: cliente_detail_view.html</p>

{% endblock content %}