@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --bg-color: #F8F8FA;
    --sidebar-bg: #ffffff;
    --header-bg: #ffffff;
    --primary-color: #5E17EB;
    --text-color: #333;
    --text-c-secondary: #686b87;
    --gray-light: #dcdcdc;
    --purple-light: #e3d7f8;
    /* --accent-yellow: #FFD700; */

    --bg-sidebar: #fcfdd0dc;
    --text-sidebar: #83680e;


    --c-text-logo-blue: #2f8ec7;
    --c-text-logo-yellow :#f8bd32;

    --font-logo: 'Orbitron', sans-serif;
    --font-default: 'Rubik', sans-serif;

    --one-unit: 1rem;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: var(--font-body); 
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: left;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.8rem;
}

p {
    margin-top: 0;
    margin-bottom: 1.4rem;
}

/* Estilização dos campos de formulário */
.form-control,
.datepicker,
.selectpicker {
    font-size: 1.4rem !important;
    color: #212529;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
    padding: 1rem !important;
    width: 100%;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.form-control:focus,
.datepicker:focus,
.selectpicker:focus {
    color: #212529;
    outline: none;
    background-color: #fff;
    border-color: #86b7fe !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important;
}

.card-row {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.custom-tooltip {
    font-size: 1.2rem !important;
}

.custom-select.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none !important;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important;
}

.custom-select .btn:focus-visible {
    background-color: #fff;
    border-color: #86b7fe !important;
}

.custom-select .btn {
    background-color: #fff !important;
    border: 1px solid #e0e0e0 !important;
}

.custom-select .btn:hover {
    background-color: #fff !important;
    border-color: #e0e0e0 !important;
}

.custom-select .form-control:focus {
    border-color: #86b7fe !important;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important;
}

/* Paginação */
.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

#pagination-dj {
    display: flex;
    padding: 0;
    gap: 1rem;
}

#pagination-dj .pagination-link {
    color:#646464;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    margin: 1rem 0;
    /* background-color: #f9f9f9; */
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 0.25rem;

    & span {
        padding: 0 6px;
        font-weight: bold;
        font-size: 1.2rem;
    }
}

#pagination-dj .pagination-item {
    margin: 1rem 0;
    background: transparent !important;
}

#pagination-dj .previous-page, 
#pagination-dj .next-page {
    background-color: #4d86c4;
    border: 1px solid #4d86c4;
    color: #fff;
    text-decoration: none;

    &:hover {
        background-color: #cce5ff;
        border: 1px solid #cce5ff;
        color: #4d86c4;
    }
}

.pagination-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    color: #aeaeae;
    font-size: 1.4rem;
    margin-right: 30px;
}

.start-num,
.end-num {
    padding: 0 10px;
}

.start-num {
    font-weight: 600;
    color: var(#646464);
    border-right: 1px solid #e0e0e0;
}

#pagination-dj .pagination-active {
    background-color: #cce5ff;
    color: #4d86c4;
    border: 1px solid #cce5ff;
}

#opcoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .4rem 2rem .4rem 1rem;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
    appearance: none;
    -webkit-appearance: none; /* Para navegadores baseados no WebKit */
    -moz-appearance: none; /* Para navegadores baseados no Gecko */
    -ms-appearance: none; /* Para navegadores baseados no Trident */
    -o-appearance: none; /* Para navegadores baseados no Presto */
    font-size: 1.4rem;
    font-weight: bold;
    color: var(#646464);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='28' height='28' color='gray' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'><path d='M19 9l-7 7-7-7'></path></svg>");
    background-repeat: no-repeat;
    background-position: right .2rem top 50%;
    background-size: 1.5rem;
}

#opcoes option {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(#646464);
}

/* Customizações Bootstrap Select */
.custom-select .bootstrap-select .dropdown-toggle .filter-option-inner-inner,
.custom-select .filter-option-inner-inner {
    font-size: 1.4rem;
    padding: .7rem;
}

.custom-select .dropdown.bootstrap-select.form-control {
    padding: 0px !important;
}

.custom-select .inner.show ul {
    font-size: 1.4rem;
}

.custom-select.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}