{% extends "global/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %} 

{% block css %} 
    <link rel="stylesheet" href="{% static 'fornecedor/css/fornecedor_list_view.css' %}" rel="stylesheet"/>
{% endblock css %} 

{% block content %}
    {% include "global/partials/breadcrumb.html" %}
    {% include "global/partials/alerts.html" %}
    <div class="card-row actions-container w-100 mt-4 d-flex justify-content-end">
        <a href="{% url 'fornecedor:fornecedor_create_view' %}" class="btn btn-lg btn-primary fs-4"> + Novo Fornecedor</a>
    </div>
    
    {% if fornecedores|length > 0 %}
        <div class="row mb-4" id="fornecedores-dashboard-info">
            <div class="col-md-3 d-flex">
                <div class="w-100 dashboard-information-summary" id="fornecedores-selecionados">
                    <div>
                        <label for="selecionarTodos">
                            Selecionar todos,
                        </label>
                        <input class="select-all-checkbox" type="checkbox" id="selecionarTodos" />
                        <label for="selecionarTodos">
                            <span class="fs-5">clique aqui</span>
                            <img src="{% static 'global/assets/img/cursor_click_outline.svg' %}" alt="Clique aqui" />
                        </label>
                    </div>
                    <div class="selected-count-container">
                        <span class="selected-count"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="w-100 dashboard-information-summary" id="fornecedores-ativos">
                    <span> Fornecedores ativos: </span>
                    <span class="total-count">
                        {{ qnt_ativos|default:0 }}
                    </span>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="w-100 dashboard-information-summary" id="fornecedores-inativos">
                    <span> Fornecedores inativos: </span>
                    <span class="total-count">
                        {{ qnt_inativos|default:0 }}
                    </span>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="w-100 dashboard-information-summary" id="fornecedores-bloqueados">
                    <span> Fornecedores bloqueados: </span>
                    <span class="total-count">
                        {{ qnt_bloqueados|default:0 }}
                    </span>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="clients-container">
        {% for fornecedor in fornecedores %}
            <div class="client-card" data-cliente-id="{{ fornecedor.id }}" >
                <div class="card-header">
                    <input type="checkbox" class="select-card" id="fornecedor-{{ fornecedor.id }}" value="{{ fornecedor.id }}" />
                    <img src="{% if fornecedor.imagem and fornecedor.imagem.url %}{{ fornecedor.imagem.url }}{% else %}{% static 'global/assets/img/user.jpeg' %}{% endif %}" class="client-image" alt="Imagem do Fornecedor"/>
                    <div class="client-info">
                        <h2 class='mb-1 p-2'>{{ fornecedor.usuario.first_name }} {{ fornecedor.usuario.last_name }}</h2>
                        <small class="status badge rounded-pill {% if fornecedor.status == 'ativo' %}text-bg-success{% elif fornecedor.status == 'inativo' %}text-bg-warning{% else %}text-bg-danger{% endif %}">{{ fornecedor.status }}</small>
                    </div>
                </div>
                <div class="card-body">
                    <div class="client-details">
                        <div class="client-detail">
                            {% if fornecedor.cnpj %}
                                <span class="detail-label"><strong>CNPJ :</strong></span>
                                <span class="detail-value cnpj">{{ fornecedor.cnpj }}</span>
                            {% else %}
                                <span class="detail-label"><strong>CPF :</strong></span>
                                <span class="detail-value cpf">{{ fornecedor.cpf }}</span>
                            {% endif %}
                        </div>
                        <div class="client-detail">
                            <span class="detail-label"><strong>Email :</strong></span>
                            <span class="detail-value">{{ fornecedor.email }}</span>
                        </div>
                        <div class="client-detail">
                            <span class="detail-label"><strong>Telefone :</strong></span>
                            <span class="detail-value telefone">{{ fornecedor.telefone }}</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn-view" data-bs-tooltip="tooltip"data-bs-custom-class="custom-tooltip" data-bs-title="Visualizar">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="#" class="btn-edit" data-bs-tooltip="tooltip"data-bs-custom-class="custom-tooltip" data-bs-title="Editar">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a href="#" class="btn-delete" data-bs-target="#fornecedor-delete-modal" data-bs-toggle="modal" data-fornecedor-id="{{ fornecedor.id }}" data-fornecedor-nome="{{ fornecedor.usuario.first_name }} {{ fornecedor.usuario.last_name }}" data-bs-tooltip="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Excluir">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        {% empty %}
            {% if fornecedores|length == 0 %}
                <p class="no-clients">
                    Nenhum fornecedor cadastrado no momento. Por favor, adicione um novo fornecedor.
                </p>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block js %} 
    <script type="text/javascript" src="{% static 'fornecedor/js/fornecedor_list_view.js' %}" defer></script>
{% endblock js %}
