{% extends "global/base.html" %} 
{% load static %} 
{% block title %}{{ title }}{% endblock title %} 
{% block css %} 
    <link rel="stylesheet" href="{% static 'fornecedor/css/fornecedor_create_view.css' %}" rel="stylesheet"/>
{% endblock css %} 

{% block content %} 

{% include "global/partials/breadcrumb.html" %}
{% include "global/partials/alerts.html" %}

<!-- Template para criar um fornecedor -->
<div class="card-row mt-5">
    <div class="card-header">
        <h2>{{ title }}</h2>
        <p>{% if view.action == 'update' or 'Editar' in title %}Atualize os campos desejados do fornecedor:{% else %}Preencha os campos abaixo para criar um novo fornecedor:{% endif %}</p>
    </div>
    <div style="padding: 30px 80px; margin: 0 auto">

        <form method="POST" action="" enctype="multipart/form-data" id="fornecedor-create-form">
            {% csrf_token %}
    
            <div class="row mb-4">
                <div class="col-md-12 text-center">
                    <div class="image-upload-wrapper">
                        {% if 'Editar' in title %}
                            <label for="{{ form.imagem.id_for_label }}" class="image-label">
                                <div class="image-container">
                                    <img id="preview-image" src="{{ fornecedor.imagem_url }}" data-default-image="{% static 'global/assets/img/user.jpeg' %}" alt="Imagem do Fornecedor" class="rounded-circle">
                                    <div class="image-hover">
                                        <i class="fas fa-edit"></i>
                                    </div>
                                </div>
                            </label>
                            <div class="mt-2">
                                <span class="fw-bold">Alterar foto do perfil</span>
                            </div>
                            <input type="file" name="imagem" accept="image/*" class="form-control" id="id_imagem" style="display: none;">
                            {% if form.imagem.help_text %}
                                <small class="form-text text-muted">{{ form.imagem.help_text }}</small>
                            {% endif %}
                            {{ form.imagem.errors }}
                        {% else %}
                            <label for="{{ form.imagem.id_for_label }}" class="image-label">
                                <div class="image-container">
                                    <img id="preview-image" src="{% static 'global/assets/img/user.jpeg' %}" data-default-image="{% static 'global/assets/img/user.jpeg' %}" alt="Imagem do Fornecedor" class="rounded-circle">
                                    <div class="image-hover">
                                        <i class="fas fa-edit"></i>
                                    </div>
                                </div>
                            </label>
                            {{ form.imagem }}
                            {% if form.imagem.help_text %}
                                <small class="form-text text-muted">{{ form.imagem.help_text }}</small>
                            {% endif %}
                            {{ form.imagem.errors }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="{{ form.tipo_pessoa.id_for_label }}">{{ form.tipo_pessoa.label }}</label>
                        {{ form.tipo_pessoa }}
                        {% if form.tipo_pessoa.help_text %}
                            <p class="form-text text-muted">{{ form.tipo_pessoa.help_text }}</p>
                        {% endif %}
                        {{ form.tipo_pessoa.errors }}
                    </div>
                </div>
            </div>

            <div class="row mb-4 mt-5 ">
                <div class="col-md-4" id="cnpj-field">
                    <div class="form-group">
                        <label for="{{ form.cnpj.id_for_label }}">{{ form.cnpj.label }}</label>
                        {{ form.cnpj }}
                        {% if form.cnpj.help_text %}
                            <p class="form-text text-muted">{{ form.cnpj.help_text }}</p>
                        {% endif %}
                        {{ form.cnpj.errors }}
                    </div>
                </div>
                <div class="col-md-4" id="cpf-field" style="display: none;">
                    <div class="form-group">
                        <label for="{{ form.cpf.id_for_label }}">{{ form.cpf.label }}</label>
                        {{ form.cpf }}
                        {% if form.cpf.help_text %}
                            <p class="form-text text-muted">{{ form.cpf.help_text }}</p>
                        {% endif %}
                        {{ form.cpf.errors }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="{{ form.razao_social.id_for_label }}">{{ form.razao_social.label }}</label>
                        {{ form.razao_social }}
                        {% if form.razao_social.help_text %}
                            <p class="form-text text-muted">{{ form.razao_social.help_text }}</p>
                        {% endif %}
                        {{ form.razao_social.errors }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="{{ form.nome_fantasia.id_for_label }}">{{ form.nome_fantasia.label }}</label>
                        {{ form.nome_fantasia }}
                        {% if form.nome_fantasia.help_text %}
                            <p class="form-text text-muted">{{ form.nome_fantasia.help_text }}</p>
                        {% endif %}
                        {{ form.nome_fantasia.errors }}
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        {{ form.email }}
                        {% if form.email.help_text %}
                            <p class="form-text text-muted">{{ form.email.help_text }}</p>
                        {% endif %}
                        {{ form.email.errors }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="{{ form.telefone.id_for_label }}">{{ form.telefone.label }}</label>
                        {{ form.telefone }}
                        {% if form.telefone.help_text %}
                            <p class="form-text text-muted">{{ form.telefone.help_text }}</p>
                        {% endif %}
                        {{ form.telefone.errors }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="{{ form.site.id_for_label }}">{{ form.site.label }}</label>
                        {{ form.site }}
                        {% if form.site.help_text %}
                            <p class="form-text text-muted">{{ form.site.help_text }}</p>
                        {% endif %}
                        {{ form.site.errors }}
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="{{ form.observacoes.id_for_label }}">{{ form.observacoes.label }}</label>
                        {{ form.observacoes }}
                        {% if form.observacoes.help_text %}
                            <small class="form-text text-muted">{{ form.observacoes.help_text }}</small>
                        {% endif %}
                        {{ form.observacoes.errors }}
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.endereco_cep.id_for_label }}">{{ form.endereco_cep.label }}</label>
                        {{ form.endereco_cep }}
                        {% if form.endereco_cep.help_text %}
                            <p class="form-text text-muted">{{ form.endereco_cep.help_text }}</p>
                        {% endif %}
                        {{ form.endereco_cep.errors }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ form.endereco_logradouro.id_for_label }}">{{ form.endereco_logradouro.label }}</label>
                        {{ form.endereco_logradouro }}
                        {% if form.endereco_logradouro.help_text %}
                            <p class="form-text text-muted">{{ form.endereco_logradouro.help_text }}</p>
                        {% endif %}
                        {{ form.endereco_logradouro.errors }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.endereco_numero.id_for_label }}">{{ form.endereco_numero.label }}</label>
                        {{ form.endereco_numero }}
                        {% if form.endereco_numero.help_text %}
                            <p class="form-text text-muted">{{ form.endereco_numero.help_text }}</p>
                        {% endif %}
                        {{ form.endereco_numero.errors }}
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="{{ form.endereco_complemento.id_for_label }}">{{ form.endereco_complemento.label }}</label>
                        {{ form.endereco_complemento }}
                        {% if form.endereco_complemento.help_text %}
                            <p class="form-text text-muted">{{ form.endereco_complemento.help_text }}</p>
                        {% endif %}
                        {{ form.endereco_complemento.errors }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="{{ form.endereco_bairro.id_for_label }}">{{ form.endereco_bairro.label }}</label>
                        {{ form.endereco_bairro }}
                        {% if form.endereco_bairro.help_text %}
                            <p class="form-text text-muted">{{ form.endereco_bairro.help_text }}</p>
                        {% endif %}
                        {{ form.endereco_bairro.errors }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.endereco_municipio.id_for_label }}">{{ form.endereco_municipio.label }}</label>
                        {{ form.endereco_municipio }}
                        {% if form.endereco_municipio.help_text %}
                        <p class="form-text text-muted">{{ form.endereco_municipio.help_text }}</p>
                        {% endif %}
                        {{ form.endereco_municipio.errors }}
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label for="{{ form.endereco_sigla.id_for_label }}">{{ form.endereco_sigla.label }}</label>
                        {{ form.endereco_sigla }}
                        {% if form.endereco_sigla.help_text %}
                            <p class="form-text text-muted">{{ form.endereco_sigla.help_text }}</p>
                        {% endif %}
                        {{ form.endereco_sigla.errors }}
                    </div>
                </div>
            </div> 

        </form>
        
    </div>
    <div class="card-footer d-flex justify-content-end">
        <a href="{% url 'fornecedor:fornecedor_list_view' %}" class="btn btn-lg btn-secondary fs-3 me-4" style="width: 120px;">Fechar</a>
        <button type="submit" form="fornecedor-create-form" class="btn btn-lg btn-primary fs-3">
            {% if 'Editar' in title %}Atualizar Fornecedor{% else %}Criar Fornecedor{% endif %}
        </button>
    </div>
</div>

{% endblock content %}

{% block js %}
    <script src="{% static 'fornecedor/js/fornecedor_create_view.js' %}"></script>
{% endblock js %}
