{% extends "global/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'global/css/styles.css' %}">
{% endblock %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    {% include "global/partials/breadcrumb.html" %}
    <br>
    <h2>Bem-vindo ao Painel</h2>
    <div class="cards">
        <div class="card">
            <h3>R$ 33.343,92</h3>
            <p>Vendas do mês</p>
        </div>
        <div class="card">
            <h3>700 pedidos</h3>
            <p>Quantidade</p>
        </div>
        <div class="card">
            <h3>R$ 10.343,92</h3>
            <p>Compras do mês</p>
        </div>
    </div>
{% endblock content %}
{% block js %}{% endblock js %}
