{% load static %}
<header class="topbar">
    <button id="sidebarToggle">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
    </button>

    <div class="user-info">
        <div class="group-icons">
            <i class="bi bi-bell"></i>
            <button id="themeToggle" class="theme-toggle">
                <i class="bi bi-brightness-high"></i>
            </button>
        </div>
        <img src="https://i.pinimg.com/736x/08/08/45/0808451bc6ef6ff426bb39880f956551.jpg" alt="User" class="avatar">
        <span>Bruno Leite</span>
    </div>
</header>