{% load static %}
<header class="topbar">
    <button id="sidebarToggle">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
    </button>

    <div class="user-info">
        <div class="group-icons">
            <i class="bi bi-bell"></i>
            <button id="themeToggle" class="theme-toggle">
                <i class="bi bi-brightness-high"></i>
            </button>
        </div>
        <div class="dropdown" id="userDropdown">
            <img src="https://i.pinimg.com/736x/08/08/45/0808451bc6ef6ff426bb39880f956551.jpg" alt="User"
                class="avatar">
            <div class="dropdown-content">
                <h5>Bruno Leite</h5>
                <a href="#"><i class="bi bi-person"></i> Perfil</a>
                <a href="#"><i class="bi bi-gear"></i> Configurações</a>
                <hr class="hr-line">
                <a href="{% url 'authentication:logout' %}"><i class="bi bi-box-arrow-right"></i> Sair</a>
            </div>
        </div>
    </div>
</header>