<div class="search-container">
    <form action="{% url 'cliente:cliente_list_view' %}" method="GET" class="search-form">
        <input type="search" id="search" class="search-input" placeholder="Buscar cliente..." name="qs" value="{{ qs }}" required>
        <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>

<!-- <div class="row">
    <div class="col-md-12">
        <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Pesquisar" aria-label="Search">
        <button class="btn btn-outline-primary rounded-end" type="submit">
            <i class="fas fa-search"></i>
        </button>
        </div>
    </div>
</div> -->
