{% load static %}
<aside class="sidebar" id="sidebar">
    <div class="logo">
        <div class="enterprise">
            <img src="{% static 'global/assets/img/logo_01.png' %}" alt="logo empresa">
            <span>
                <b>Inventory</b><br /> Management
            </span>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="{% url 'dashboard:dashboard' %}">
                    <i class="bi bi-speedometer2"></i>
                    <span>DASHBOARD</span>
                </a>
            </li>
            <li class="has-submenu">
                <a href="#">
                    <i class="bi bi-person-plus"></i>
                    <span>CLIENTE</span>
                    <i class="bi bi-chevron-left" class="submenu-toggle-icon"></i>
                </a>
                <ul class="submenu">
                    <li><a href="{% url 'cliente:cliente_list_view' %}">Consultar Clientes</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">
                    <i class="bi bi-person-plus"></i>
                    <span>FUNCIONARIO</span>
                    <i class="bi bi-chevron-left" class="submenu-toggle-icon"></i>
                </a>
                <ul class="submenu">
                    <li><a href="{% url 'funcionario:funcionario_list_view' %}">Consultar Funcionarios</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">
                    <i class="bi bi-truck"></i>
                    <span>FORNECEDOR</span>
                    <i class="bi bi-chevron-left" class="submenu-toggle-icon"></i>
                </a>
                <ul class="submenu">
                    <li><a href="{% url 'fornecedor:fornecedor_list_view' %}">Consultar Fornecedores</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">
                    <i class="bi bi-box2"></i>
                    <span>ESTOQUE</span>
                    <i class="bi bi-chevron-left" class="submenu-toggle-icon"></i>
                </a>
                <ul class="submenu">
                    <li><a href="#">Campanhas ADS</a></li>
                    <li><a href="#">Anúncios</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-qr-code-scan"></i>
                    <span>CÓDIGO DE BARRAS</span>
                </a>
            </li>
            <li class="has-submenu">
                <a href="#">
                    <i class="bi bi-cart2"></i>
                    <span>VENDAS</span>
                    <i class="bi bi-chevron-left" class="submenu-toggle-icon"></i>
                </a>
                <ul class="submenu">
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">
                    <!-- <i data-feather="bar-chart-2"></i> -->
                    <i class="bi bi-clipboard2-data"></i>
                    <span>CAMPANHAS</span>
                    <i class="bi bi-chevron-left" class="submenu-toggle-icon"></i>
                </a>
                <ul class="submenu">
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-arrow-down-left-circle"></i>
                    <span>ENTRADAS</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-arrow-up-right-circle"></i>
                    <span>SAÍDAS</span>
                </a>
            </li>

            <li>
                <a href="{% url 'authentication:logout' %}">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>SAIR</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>